/* Details */
.detail-image {
    width: 100%;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.detail-description {
	padding: 1em;
    margin-bottom: 10px;
}
.platformList {
    list-style-type: none;
    margin-bottom: 50px;

    & li {
        margin-left: -20px;
        margin-bottom: 10px;
    }
    & .iconlessPlatform {
        margin-left: 20px;
    }
}
li svg {
    margin-right: 20px;
    font-size: 20px;
}
.detail-Col {
    max-width: 800px;
    margin: 0 auto;
    color: $dark-grey;
}
.detail-Row {
    max-width: 800px;
    margin: 0 auto;
    color: $dark-grey;
}
