.input {
    margin-top: 50px;
    margin-bottom: 10px;
}
.p {
    text-align: center;

    & a {
        color: var(--color-secondary-light2);
        font-weight: bold;

        &:hover {
            color: var(--color-secondary-dark);
            text-decoration: underline;
        }
    }
}
.container {
    padding: 0;
}